.flex-container
{
    display: flex;
}

.left
{
    width: 30%;
    background-color: blue;
    margin-left: 100px;
}

.right
{
    background-color: aliceblue;
    margin-left: 20px;
}

.flex-container
{
    
    display: flex;
    flex-direction: row;
    
}

.contact
{
    display: flex;
    flex-direction: column;
    font-size: 8;
    padding-left: 80px;
    padding-top: 20px;
    
}
img
{
    margin: 10px;   
    border: 10px;
    border-color:dodgerblue;
    border-style: solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    
}

.name
{
    font-size: 14;
    margin-top: 20px;
    
}

